/*tablets*/
@media (max-width: 768px) {
    .logo {
        color: red;
        font-size: 20px;
        padding-left: 2rem;
    }

    .nav {

        align-items: center;
    }

    .nav ol {

        list-style: none;

    }

    .nav ol li {
        margin: 1em
    }


    body {
        font-size: 12px;
    }


    .grid-container > div {

        font-size: 15px;
        text-align: left;

    }

    .grid-container > header {

        font-size: 15px;


    }

    .grid-container > article {

        font-size: 15px;

    }

    .subTitleSizeAndFont {
        font-size: 15px;
    }

    iframe {
        width: 100%;
        margin: 0 auto;
    }
}

/*Phones and small devices*/

@media (max-width: 480px) {

    .logo {
        color: blue;
        font-size: 18px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav ol {
        display: flex;
        list-style: none;

    }

    .nav ol li {
        margin: 0 10px 0 0;
        font-size: 12px;
        padding: 0.1rem;
    }


    body {
        font-size: 12px;
        width: fit-content;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
    'header'
    'main'
    'mudcake'
    'mainTwo'
    'cheese'
    'mainThree'
    'socker '
    'footer'
    'underMenu';
        background-color: #051821;

    }


    .grid-container > div {

        font-size: 15px;
        text-align: left;
        padding: 0.5rem;

    }

    .grid-container > header {

        font-size: 15px;


    }

    .grid-container > article {

        font-size: 15px;

    }

    header {

        height: 50%;

    }

    .subTitleSizeAndFont {
        font-size: 15px;
    }


}
