
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: footer;
}

.item5 {
    grid-area: mainTwo;
}

.item6 {
    grid-area: mainThree
}

.item7 {
    grid-area: mudcake
}

.item8 {
    grid-area: cheese
}

.item9 {
    grid-area: socker
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: orange;
}

body::-webkit-scrollbar-thumb {
    background: beige;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'menu header header header '
    'menu main main mudcake '
    'menu mainTwo mainTwo cheese '
    'menu mainThree mainThree socker '
    'menu footer footer footer ';
    grid-gap: 5px;
    background-color: black;
    padding: 5px;
}

.grid-container > div {
    text-align: center;
    padding: 10px 5px;
    font-size: 20px;
    background: beige;
}


.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.marginPaddingAuto {
    margin: 0;
    padding: 0;
}

body {
    background: #051821;
    font-family: Lato, sans-serif;
    font-size: 15px;
}


.subPageBody {
    background: beige;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.lobsterFont {
    font-family: Lobster, sans-serif;
}

.latoFont {
    font-family: Lato, sans-serif;
}

.titleSizeAndFont {
    font-family: Lobster, sans-serif;
    font-size: 50px;
    margin: 0 auto;
}

.subTitleSizeAndFont {
    font-family: Lato, sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 0 auto;
}

form {
    font-family: Lato, sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
}

select {
    width: auto;
    height: 30px;
    margin: 0 auto;
}

.containerImage {
    width: 50%;
    height: auto;
}

.containerImageFrontPage {
    width: auto;
    height: auto;
    margin: 10px;
}

.formatTextToImage {
    text-align: right;
    margin-right: 500px;
    border: 10px;
}

iframe {
    border: none;

}

.textArea {
    height: 200px;
    width: 200px;
    resize: none;

}

.textSizePaddingAndMarginForm {
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;

}

table {
    border: 2px solid black;
    width: 100%;
}

li {
    margin: 5px;
}

.submitButton {
    width: auto;
    height: 30px;
    font-size: 15px;
}

.selectButton {
    width: auto;
    height: 30px;
    font-size: 15px;

}

a:link {
    color: #051821;
}

a:visited {
    color: #051821;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}

#feedback, #termsHint {
    color: #fff;
    background-image: url('../img/warning.png');
    background-repeat: no-repeat;
    background-position: 2px 14px;
    padding: 10px 0 0 22px;
}

#feedback.warning {
    background-image: url('../img/warning.png');
}

#feedback.tip {
    background-image: url('../img/tip.png');
}

#bottomCenterFormatText {

    font-family: Lato, sans-serif;
    font-size: x-large;
    position: absolute;
    bottom: 0;
    left: 7rem;
}



